*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log

# mongo data folder
mongo_data

# docker envs
.docker-env

# backup 
backup/mongo_dump
backup/cron.log
backup/*.tar.gz
backup/.dropbox_uploader
