version: "3"

services:
  web:
    image: mydiary:1.0
    build: .
    ports:
      - "3000:3000"
    volumes:
      - ./:/app
    environment:  
      - NODE_ENV=development
    links:
      - db
    env_file:
      - .docker-env

  db:
    image: mongo:3.4
    volumes:
      - 'mongo:/data/db'
    ports: 
      - "27017:27017"

volumes:
  mongo: